body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    font-family: 'Arial', sans-serif;
}

div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

a {
    text-decoration: none;  /* esto es para sacarle la linea de abajo de los links */
}

p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    transition: transform 0.3s, background-color 0.3s;
}

p:hover {
    background-color: #0072ff;
    color: white;
    transform: scale(1.1);
}
