body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

img {
    margin-top: 15px;
    width: 200px;
    border: 2px solid;
}

input{
    padding: 5px;
    font-size: 25px;
}
button {
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
}